
<nav>
  <ul class="container">
    <li id="back_to_homepage" class="list"> <a id="homepage_link" href="/homepage">Home</a></li>
    <li class="list">daily task</li>
<!--    <li class="list"><a href="/minigames">Mini Games</a></li>-->
<!--    <li class="list"><a id="show_points"> </a></li>-->
    <li class="list" style="float: right;"><a href="/user_profile"><img src="img/shape.png" width="20px" height="20px">
      </a></li>

  </ul>
</nav>
