<link rel="stylesheet" type="text/css" href="static/css/navbar.css">

<ul>
    <li><a href="homepage.html">Home</a></li>
    <li><a href="/AboutUs">About Us</a></li>
    <li><a href="MiniGames.html">Mini Games</a></li>
    <li style="float: right;"><a href="profile.html"><img src="static/img/shape.png" width="20px" height="20px"> </a></li>
    <li style="float: right;"><a>Points</a></li>
</ul>