<!DOCTYPE html>
<html lang="en">

<head>
  <title>Admin Login</title>
  <meta charset="utf-8">
  <!-- Allow media queries -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap styles -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- Styles -->
  <link rel="stylesheet" type="text/css" href="/static/css/admin_verify.css">
  <!-- JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- JavaScript files -->
  <script src="/static/js/admin_login.js"></script>

</head>

<body>

  <div class="container">
    <div id="choice_tab">

    </div>

    <div id="form-wrapper">
      <form id="userForm" action="api/users/admin" method="post" style="display: inline-block">
        <h1 class="form-signin-heading">Admin Workstation</h1>
        <h3 class="form-signin-heading">Please login</h3>
        <input type="text" class="form-control" id="username" name="username" placeholder="Enter Username" />

        <br>

        <input type="password" class="form-control" id="password" name="password" min="6" maxlength="16"
          placeholder="Enter Password" />

        <button id="login" type="submit">Log in</button>

      </form>
    </div>
    <div id="postResultDiv">
    </div>
    <br>

  </div>
  <!-- footer -->
  <footer id='footer'>Made by FutureCurves.</footer>

  <!-- JavaScript files -->
  <script src='/static/js/admin_verify.js'></script>
</body>

</html>