<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Home</title>
    <link rel="stylesheet" type="text/css" href="static/css/admin_home.css">
</head>
<body>
    <div>
        <button onclick="window.location.href ='/admin_coupon' ">coupon management</button>
        <button></button>
    </div>
</body>
</html>