<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- Allow media queries -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counselling</title>
    <!-- styles -->
    <link rel="stylesheet" type="text/css" href="/static/css/counselling.css">
    <link rel="stylesheet" href="/static/css/homepage.css">
    <link rel="stylesheet" type="text/css" href="/static/css/navbar.css">
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>



</head>

<body>
    <!-- Nav bar -->
    <div id="navbar">
        <%-navbar%></div>
    <div id="container">

        <!-- Head -->
        <span id=heading1>
            <h1>Mental Health Services</h1>
        </span>
        <!-- First box -->
        <div id="card1">
            <div id="card1_1">
                <span class="header1">Outer Link</span>
                <span class="expand" id="card1_1_expand">+</span>
                <span class="hide" id="card1_1_hide">-</span>
            </div>

            <div class ="card_content" id="card1_2">

                <h3 id="Crisis_Centre_Sources" class="header1">Crisis Centre Sources</h3>

                <ul id="crisiscenter_phone_no">
                    <li class="link" id="crisiscenter_website"
                        onclick="window.location.href='https://crisiscentre.bc.ca/'"><i>BC Crisis Centre</i></li>
                    <li>Anywhere in BC 1-800-SUICIDE: 1-800-784-2433</li>
                    <li> Mental Health Support Line: 310-6789</li>
                    <li>Vancouver Coastal Regional Distress Line: 604-872-3311</li>
                    <li>Sunshine Coast/Sea to Sky: 1-866-661-3311</li>
                    <li> Seniors Distress Line: 604-872-1234</li>
                </ul>


            </div>

            <div id="card1_3">
                <span class="header1">Self Help Articles</span>
                <span class="expand" id="card1_3_expand">+</span>
                <span class="hide" id="card1_3_hide">-</span>
            </div>
            <div  class ="card_content" id="card1_4">
                <div>
                   
                    <ol id="self_help">
                        <li class="link"
                            onclick="window.location.href='https://www.helpguide.org/articles/suicide-prevention/are-you-feeling-suicidal.htm'">
                            <i>How To Releaf Suicidal Thoughts</i></li>
                        <li class="link"
                            onclick="window.location.href='https://www.webmd.com/depression/guide/depression-living-managing'">
                            <i>Depression Recovery</i></li>
                    </ol>
                </div>
            </div>

        </div>

        <!-- Second box of info -->
        <div id="card2">
            <div id="card2_1">
                <p>This service provides free text counselling with our volunteers.</p>
            </div>
            <div id="card2_2">
                <p>Most of our volunteers are psychology students.</p>
            </div>

        </div>
        <!-- button -->
        <button id="proceed_button">Proceed</button>
    </div>

    <!-- Footer -->
    <footer id="footer">Made by FutureCurves.</footer>


    <script>
        $(".collapse ~ * ").hide()
        $(".collapse").click((e) => {
            $("#" + e.target.id + " ~ ol").toggle()
        })
    </script>

    <script src="/static/js/counselling.js">

    </script>

    <!-- Share on social media -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5ec2cbf0773973c5"></script>

</body>

</html>