<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/homepage.css">
    <link rel="stylesheet" type="text/css" href="/static/css/navbar.css">
    <title>Welcome to Happify!</title>

</head>

<body>
    <%  if(navbar) { %> 
    <%- navbar %>
    <% } %> 
    <div id='container'>
        <div id="header">

            <div id="greeting">
                <p class='top' id="welcome">Welcome Back,</p>
                <h1 class='username' id="username"></h1>
                <p class='top' id="welcome">Redeem your coupon or play a game</p>
                
            </div>

        </div>
        <div id='inner'>
            
            <div id="stats">
            <h2>All points you earned: </h2>
                <h2 id='pointsofar'></h2>
                <h2>You earned today: </h2>
                <h2 id='pointofday'></h2>
                <h2>
                </h2>
            </div>


            <div id="games" onclick="window.location.href = '/minigames' ">
                <div id="games1">
                    <h1 class="second">Mini Games</h1>
                </div>
                <div id="games2">
                    <div id='image2'>
                        <img id="game_img" src="img/game.png">
                    </div>
                </div>
            </div>
           



            <div id="redeem" onclick="window.location.href = '/coupon';">

                <div id="redeem1">
                    <h1 class="second">Redeem!</h1>
                </div>
                <div id="redeem2">
                    <div id='image'>

                        <img id="redeem_img" src="img/coupon1.png">
                    </div>
                </div>
            </div>


            <%- footer %>

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
            
            <script src="/static/js/get_points.js"></script>
            <script src='/static/js/homepage.js'></script>
            <script src='/static/js/navbar_top.js'></script>
</body>

</html>