<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button onclick="submit_sub_info()">subscribe</button>
    <!-- <button onclick="push()">push</button> -->
    <script>
        addEventListener('load',async()=>{
            let sw = await navigator.serviceWorker.register('/static/js/sws.js')
            console.log(sw)
        })
        async function subscribe(){
            let sw = await navigator.serviceWorker.ready;
            //pushed to the browser
            let push = await sw.pushManager.subscribe({
                userVisibleOnly: true,
                applicationServerKey:'BHzTemBBukw8OY7qXGqtXPPIGSr-TyACw3rNEcmsBTx2gEJQ2YECWff5oBMb9fRss7vhn3a6ATNxucmb52zHM2U'
            })
            console.log(JSON.stringify(push))
            return JSON.stringify(push)
        }

        async function submit_sub_info(){
            console.log("submit 27")
            let subs = await subscribe()
            $.ajax({
                type: "post",
                url: "/push",
                data: {subs},
                dataType: "text",
                success: function (response) {
                    
                }
            });
        }

    </script>
</body>
</html>