<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button onclick="subscribe()">start daily reminder</button>
    <legend>
        <label for="hour">hour</label>
        <input id = "hour" type="number" value="23">
    </br>
        <label for="minute">minute</label>
        <input id = "minute" type="number" value="30">
        <div><h1>We will remind you to go to bed at</h1> <h2 id="time"> </h2> <h1> every day</h1></div>
    </legend>

    <script>
     addEventListener('load',async()=>{
            let sw = await navigator.serviceWorker.register('../resources/static/js/sw.js')
            console.log(sw + "sw")
        })
        async function subscribe(){
            let sw = await navigator.serviceWorker.ready;
            //pushed to the browser
            let push = await sw.pushManager.subscribe({
                userVisibleOnly: true,
                applicationServerKey:'BHzTemBBukw8OY7qXGqtXPPIGSr-TyACw3rNEcmsBTx2gEJQ2YECWff5oBMb9fRss7vhn3a6ATNxucmb52zHM2U'
            })
            console.log(JSON.stringify(push))
            
            $.ajax({
                type: "method",
                url: "url",
                data: JSON.stringify(push),
                dataType: "json",
                success: function (response) {
                    
                }
            });


            var hour = document.getElementById("hour").value;
        var mintue = document.getElementById("minute").value;
         
         document.getElementById("time").innerHTML = hour + ":" + mintue;
        }



    </script>
</body>
</html>