<!DOCTYPE html>
<html lang="en">
<head>
  <title>Register/Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.5.0.js"
  integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="static/js/getrequest.js"></script>
  <script src="static/js/postrequest.js"></script>
  <!-- <script src="/static/js/login.js"></script> -->
</head>
 
<body> 
<div class="container"> 
<div class="col-sm-4">
	<h3>NodeJS/Express Post/Get Ajax</h3>
	<div>		
		<form id="userForm" action="/api/users/register" method="post">
          
			<label for="username">Username:</label>
			<input type="text" class="form-control" id="username" name="username" placeholder="Enter Username"/>
		  
            
            
			<label for="password">Password:</label>
			<input type="password" class="form-control" id="password" name="password" min="6" maxlength="16" placeholder="Enter Password"/>
		
           
			<label for="email">Email:</label>
			<input type="email" class="form-control" id="email" name="email" placeholder="Enter Email"/>
		
		 
			<label for="firstname">First Name:</label>
			<input type="text" class="form-control" id="firstname" name="firstname" placeholder="Enter First Name"/>
		
		
			<label for="lastname">Last Name:</label>
			<input type="text" class="form-control" id="lastname" name="lastname" placeholder="Enter Last Name"/>
		 
            
           
			<label for="phoneno">Phone Number:</label>
			<input type="text" class="form-control" id="phoneno" name="phoneno" value ="1-" pattern="\d[-]\d\d\d\d\d\d\d\d\d\d" placeholder="Enter Phone Number"/>
			<label for="phoneno">(e.g. 1-1234567890)</label>
			<textarea>dss</textarea>
			
		  <button id="register" type="submit" class="btn btn-default">Submit</button>
		  <button id="login" class="btn btn-default">verify</button>
		</form>
	</div>
	<div id="postResultDiv">
	</div>
	<br>
	<div>

	</div>
</div>	
</div>
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5ec2cbf0773973c5"></script>
</body>
</html>