<!DOCTYPE html>
<html lang="en">

<head>
  <title>Successful</title>
  <meta charset="utf-8">
  <!-- allow media queries -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- styles and bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<!-- Re-directing page -->
<body>

  <div class="alert alert-success" role="alert">
    <h1>Operation Successful</h1>
    <strong>Well done!</strong>
    Redirecting to your app
  </div>
</body>

</html>