<!DOCTYPE html>
<html lang="en">

<head>
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> -->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Profile</title>
  <link rel="stylesheet" type="text/css" href="/static/css/user_profile<%=css%>">
  <link rel="stylesheet" type="text/css" href="/static/css/navbar<%=css%>">
  
</head>

<body>
    <header id="head">
  <%- navbar %></header>
  <h1>User Profile</h1>

  <img id="avatar" class="avatar" src="/img/avatar.png">
  <div id='ui_choice'>
    <span>Color Scheme: </span><br/>
    <button class="ui_choice" id='ui_choice_0'>Happy mode</button>
    <button class="ui_choice" id='ui_choice_1'>Fire mode</button>
  </div>
  <form action="/upload_avatar" enctype="multipart/form-data" method="post">
    <input type="file" class="avatar" id="upload" name="upload">
    <input type="submit" id="submit" value="Upload file">

  </form>


  <div id="container">
    <form id="userForm" action="/api/users/register" method="post">
      <div id="username">Username</div>
      <input id="usernameinput" rows="1" placeholder='Username' name="username" ;>
      <div id="password">Password

      </div>
      <input id="passwordinput" rows="1" type="password" placeholder='Password' name="password" min="6" maxlength="16">
      <div id="firstname">First Name

      </div>
      <input id="firstnameinput" rows="1" placeholder='Firstname' name="firstname">
      <div id="lastname">Last Name

      </div>
      <input id="lastnameinput" rows="1" placeholder='Lastname' name="lastname">
      <div id="email">Email

      </div>
      <input id="emailinput" rows="1" placeholder='Email' type="email" name="email">
      <div id="phoneno">Phone Number

      </div>
      <input id="phonenoinput" rows="1" placeholder='Phone Number, starting with 1-' name="phoneno">
      <br>
    </form>
  </div>
  <div class="card" id="mycoupons">

    <h2>My Coupons</h2>
  </div>


  <div class="card" id="myrecord" onclick="window.location.href='/my_record'" >

    <h2 >My Records</h2>
  </div>

  <button type="button" onclick="save()" id="save">Save</button>
  <button id="logout">Log out</button>
  <br>
  <!--
    <div id="submit">
    <a href="#" class="square_btn">Yes</a></div>
-->
  <%- footer %>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src='/static/js/user_profile.js'></script>
  <script src='/static/js/navbar_top.js'></script>
</body>

</html>