<!DOCTYPE html>
<html lang="en">

<head>
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> -->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Profile</title>
  <link rel="stylesheet" type="text/css" href="/static/css/user_profile.css">
  <link rel="stylesheet" type="text/css" href="/static/css/navbar.css">
  
</head>

<body>
    <header id="head">
  <%- navbar %></header>
  <h1>User Profile</h1>

  <img id="avatar" class="avatar" src="/img/avatar.png">
  <form action="/upload_avatar" enctype="multipart/form-data" method="post">
    <input type="file" class="avatar" id="upload" name="upload">
    <input type="submit" id="submit" value="Upload file">

  </form>


  <div id="container">
    <form id="userForm" action="/api/users/register" method="post">
      <div id="username">Username</div>
      <input id="usernameinput" rows="1" placeholder='Username' name="username" ;></input>
      <div id="password">Password

      </div>
      <input id="passwordinput" rows="1" type="password" placeholder='Password' name="password" min="6" maxlength="16"></input>
      <div id="firstname">First Name

      </div>
      <input id="firstnameinput" rows="1" placeholder='Firstname' name="firstname"></input>
      <div id="lastname">Last Name

      </div>
      <input id="lastnameinput" rows="1" placeholder='Lastname' name="lastname"></input>
      <div id="email">Email

      </div>
      <input id="emailinput" rows="1" placeholder='Email' type="email" name="email"></input>
      <div id="phoneno">Phone Number

      </div>
      <input id="phonenoinput" rows="1" placeholder='Phone Number, starting with 1-' name="phoneno"></input>
      <br>
    </form>
  </div>
  <div id="mycoupons">

    <h2>My coupons</h2>
  </div>

  <button type="button" onclick="save()" id="save">Save</button>
<<<<<<< HEAD
  <button id="logout">log out!</button>
=======
  <button id="logout">Log out!</button>
>>>>>>> judao_tiffany_backend
  <br>
  <!--
    <div id="submit">
    <a href="#" class="square_btn">Yes</a></div>
-->
  <%- footer %>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src='/static/js/user_profile.js'></script>
  <script src='/static/js/navbar_top.js'></script>
</body>

</html>