/*CSS style of the admin homepage*/

/* Some CSS for body. */
body {
  color: #53131E;
  background-color: #99F7AB;
  width: 100%;
}

/* Some styles for title */
h1 {
  text-align: center;
  color: white;
}

/* Align the button. */
#button {
  text-align: center;
}

/* Align the container */
#container {
  margin-top: 15%;
}

/* Media queries for different devices. */
@media only screen and (max-width: 330px) {
  /* Styles for footer */
  #footer {
    text-align: center;
    bottom: 0;
    margin-top: 400px;
    color: #53131E;
    clear: both;
    position: relative;

  }

  /* Styles for buttons. */
  button {
    background-color: transparent;
    border: #53131E solid 1.5px;
    color: #53131E;
    padding: 7px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14pt;
    font-weight: 300;
  }


  button:hover {
    background-color: white;
    border: #53131E solid 1.5px;
    color: #53131E;
    padding: 7px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14pt;
  }
}

@media only screen and (min-width: 370px) {
  #footer {
    text-align: center;
    bottom: 0;
    margin-top: 670px;
    color: #53131E;
    clear: both;
    position: relative;

  }

  button {
    background-color: transparent;
    border: #53131E solid 1.5px;
    color: #53131E;
    padding: 7px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14pt;
    font-weight: 300;
  }


  button:hover {
    background-color: white;
    border: #53131E solid 1.5px;
    color: #53131E;
    padding: 7px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14pt;
  }
}

@media only screen and (min-width: 600px) {
  #footer {
    text-align: center;
    bottom: 0;
    margin-top: 700px;
    color: #53131E;
    clear: both;
    position: relative;
    /*    font-size: 20pt;*/

  }

  h1 {
    text-align: center;
    color: white;
    font-size: 40pt;
  }

  button {
    background-color: transparent;
    border: #53131E solid 1.5px;
    color: #53131E;
    padding: 7px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20pt;
    font-weight: 300;
  }


  button:hover {
    background-color: white;
    border: #53131E solid 1.5px;
    color: #53131E;
    padding: 7px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20pt;
  }
}

@media only screen and (min-width: 1024px) {
  #footer {
    text-align: center;
    bottom: 0;
    margin-top: 1080px;
    color: #53131E;
    clear: both;
    position: relative;
    /*    font-size: 25pt;*/
  }

  h1 {
    text-align: center;
    color: white;
    font-size: 40pt;
  }

  button {
    background-color: transparent;
    border: #53131E solid 1.5px;
    color: #53131E;
    padding: 7px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20pt;
    font-weight: 300;
  }


  button:hover {
    background-color: white;
    border: #53131E solid 1.5px;
    color: #53131E;
    padding: 7px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20pt;
  }
}

@media only screen and (min-width: 1200px) {
  #footer {
    text-align: center;
    bottom: 0;
    margin-top: 270px;
    color: #53131E;
    clear: both;
    position: relative;
    font-size: 18pt;
  }

  button {
    background-color: transparent;
    border: #53131E solid 1.5px;
    color: #53131E;
    padding: 7px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20pt;
    font-weight: 300;
  }


  button:hover {
    background-color: white;
    border: #53131E solid 1.5px;
    color: #53131E;
    padding: 7px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20pt;
  }
}