/* CSS for mental assistance page */

/* Styles the background color. */
body {
  text-align: center;
}
/* Heading font size. */
.header1 {
  margin: 10px;
}
/* Some colors for the outer links. */
.link {
  text-decoration: underline;
  color: blue;
  font: bold;
}

/* Background colors for the sections. */
#card1 {
  background-color: #7BDFF2;
}

#card2 {
  background-color: #7BDFF2;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
/* This is to ensure the content is not covered by the nav bar. */
#container {
  margin-top: 40px;
}

/* Some styles for mobile phones. */
@media only screen and (max-width: 369px) {

  .header1 {
    font-size: 20pt;
    font-weight: bold;
  }

  #card1 {
    font-size: 25pt;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #53131E;
  }

  #card2 {
    font-size: 25pt;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #53131E;
  }

  #footer {
    font-size: 20pt;
  }
}

/* Some styles for bigger cell phones. */
@media only screen and (min-width: 370px) {
  h1 {
    font-size: 25pt;
  }

  .header1 {
    font-size: 25pt;
    font-weight: bold;
  }

  #card1 {
    font-size: 25pt;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #53131E;
  }

  #card2 {
    font-size: 25pt;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #53131E;
  }

  #footer {
    margin-top: 500px;
    font-size: 20pt;
  }
}

/* Some styles for tablets. */
@media only screen and (min-width: 600px) {
  #card1 {
    font-size: 25pt;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #53131E;
  }

  #card2 {
    font-size: 25pt;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #53131E;
  }

  #footer {
    font-size: 20pt;
  }
}

/* Styles for iPad Pro. */
@media only screen and (min-width: 1024px) and (max-width: 1025px) {
  #card1 {
    font-size: 25pt;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #53131E;
  }

  /* card2 related styles */
  #card2 {
    font-size: 25pt;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #53131E;
  }

   /*footer related styles */
  #footer {
    margin-top: 200px;
    font-size: 20pt;
  }
}

/* Styles for web pages. */
@media only screen and (min-width: 1026px) {
  #card1 {
    font-size: 4pt;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #53131E;
  }

  #card2 {
    font-size: 4pt;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #53131E;
  }

  #footer {
    margin-top: 200px;
    font-size: 20pt;
  }
}

#Crisis_Centre_Sources{
  color: black;
}

.card_content{
  border-radius: 25px;
  border-style: groove;
  background-color: whitesmoke;
}

.expand{
  border-radius: 10px;
  border-style: outset;
  background-color: cornflowerblue;
}

.hide{
  border-radius: 10px;
  border-style: outset;
  background-color: cornflowerblue;
}

