/* CSS for redeem page */

/* Styles for body.  */
body {
    text-align: center;
    margin: 0;
    background-color: #FFE548;
    color: #A63013;
    height: 100vh;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* Some point sizes. */
.confirm {
    font-size: 20pt;
}

.points {
    font-size: 40pt;
}

.description {
    font-size: 18pt;
}

/* Some styles for mobile phones. */
@media only screen and (max-width: 369px) {
    #content {
        margin-top: 15%;
    }

    #greeting {
        color: #A63013;
        font-size: 30pt;
    }


    #footer {
        bottom: 0;
        margin-top: 135px;
        clear: both;
        position: relative;
    }
}

@media only screen and (min-width: 370px) {
    #content {
        margin-top: 15%;
    }

    #greeting {
        font-size: 30pt;
    }


    #footer {
        bottom: 0;
        margin-top: 150px;
        /*        color: #53131E;*/
        clear: both;
        position: relative;
        /*        font-size: 13pt;*/
    }
}


/* Some styles for mobile phones. */
@media only screen and (min-width: 600px) {
    #content {
        margin-top: 10%;
    }

    h1 {
        font-size: 30pt;
    }

    #inner {
        font-size: 30pt;
    }

    #search {
        font-size: 27pt;
    }

    #proceed {
        font-size: 27pt;
        margin-top: 10px;
    }

    #stats {
        font-size: 30pt;
    }

    #welcome {
        font-size: 40pt;
    }


    #footer {
        bottom: 0;
        margin-top: 150px;
        /*        color: #53131E;*/
        clear: both;
        position: relative;
        /*        font-size: 20pt;*/
    }
}


/* Some styles for tablets. */
@media only screen and (min-width: 1024px) {
    #content {
        margin-top: 10%;
    }

    h1 {
        font-size: 30pt;
    }

    #inner {
        font-size: 30pt;
    }

    #search {
        font-size: 27pt;
    }

    #proceed {
        font-size: 27pt;
        margin-top: 10px;
    }

    #stats {
        font-size: 30pt;
    }

    #welcome {
        font-size: 40pt;
    }


    #footer {
        bottom: 0;
        margin-top: 150px;
        /*        color: #53131E;*/
        clear: both;
        position: relative;
        /*        font-size: 20pt;*/
    }
}


/* Some styles for web pages. */
@media only screen and (min-width: 1200px) {
    #content {
        margin-top: 10%;
    }

    h1 {
        font-size: 30pt;
    }

    #inner {
        font-size: 28pt;
    }

    #proceed {
        font-size: 27pt;
        margin-top: 10px;
    }

    #stats {
        font-size: 30pt;
    }

    #welcome {
        font-size: 40pt;
    }


    #footer {
        bottom: 0;
        clear: both;
        position: relative;
        font-size: 20pt;
    }
}

/* Styles for buttons. */
.square_btn_second {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #A63013;
    border: solid 2px #A63013;
    border-radius: 3px;
    transition: .4s;
}

.square_btn_second:hover {
    background: white;
    color: #A63013;
}



/* Some styles for the points section */
#stats {
    margin-top: 10px;
    margin-bottom: 10px;
    grid-row: 2 / span 1;
    background-color: #FFE8C2;
    display: grid;
    grid-template-columns: 50% 50%;
    color: #A63013;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
}

#description1 {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
}

#description2 {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
}

#pointsofar {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
}

#pointofday {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
}

.top {
    font-size: 13pt;
    font-weight: bold;
}


.points {
    margin-top: -10px;
    font-weight: bold;
}

/* Styles for description */
.description {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 25px;

    grid-row: 1 / span 1;
    display: grid;
    grid-template-rows: 50% 50%;
    /*    color: #53131E;*/
}

.title {
    padding: 15px;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 25px 0 0 25px;


}

/* Styles for coupons */
.coupons {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 25px;
    background-color: #EEFCCE;

    display: block;
    grid-template-rows: 50% 50%;
    /*    color: #53131E;*/
    border: solid 2px rgba(83, 19, 30, 0.7);
}

/* Some more button styles. */
button {
    background-color: transparent;
    border: #A63013 solid 1.5px;
    color: #A63013;
    padding: 7px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;

}

button:hover {
    background-color: white;
    border: #A63013 solid 1.5px;
    color: #A63013;
    padding: 7px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}


#proceed {
    margin-top: 10px;
    /*            float: right;*/
}

#back {
    float: left;
}

/* Styles for search. */
#search_function {
    margin-top: 10px;
    margin-bottom: 10px;

}


/* bootstrap progress bar */
.progress {
    display: -ms-flexbox;
    display: flex;
    height: 1rem;
    overflow: hidden;
    line-height: 0;
    font-size: 0.75rem;
    background-color: #e9ecef;
    border-radius: 0.25rem;
}

.progress-bar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #007bff;
    transition: width 0.6s ease;
}

@media (prefers-reduced-motion: reduce) {
    .progress-bar {
        transition: none;
    }
}

.progress-bar-striped {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 1rem 1rem;
}

.progress-bar-animated {
    width: 75%;
    -webkit-animation: progress-bar-stripes 1s linear infinite;
    animation: progress-bar-stripes 1s linear infinite;
}

@media (prefers-reduced-motion: reduce) {
    .progress-bar-animated {
        -webkit-animation: none;
        animation: none;
    }
}