body {
    text-align: center;
    margin: 0;
    background-image: url(../img/background.png);
    background-size: cover;
    height: 120vh;

}

.square_btn_second {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #3AB795;
    border: solid 2px #3AB795;
    border-radius: 3px;
    transition: .4s;
}

.square_btn_second:hover {
    background: #EF629F;
    color: white;
}

#container>div:nth-child(even) {
    background-color: #FAC9B8;
}

@media only screen and (max-width:400px) {
    .top {
        color: #3AB795;
        font-size: 13pt;
        font-weight: bold;
    }


    .points {
        color: #EF629F;
        margin-top: -10px;
        font-weight: bold;
        font-size: 13pt;
    }

    .description {
        margin-left: 25px;
        margin-right: 25px;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 25px;

        grid-row: 1 / span 1;
        display: grid;
        grid-template-rows: 50% 50%;
        color: #EF629F;
    }

    .title {
        padding: 15px;
        margin-top: auto;
        margin-bottom: auto;
        border-radius: 25px 0 0 25px;


    }

    .coupons {
        margin-left: 25px;
        margin-right: 25px;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 25px;
        background-color: #B8D8BA;

        display: block;
        grid-template-rows: 50% 50%;
        color: #EF629F;
    }
}



@media only screen and (min-width: 401px) {

    .top {
        color: #3AB795;
        font-size: 23pt;
        font-weight: bold;
    }

    .points {
        color: #EF629F;
        margin-top: -10px;
        font-weight: bold;
        font-size: 23pt;
    }

    .coupons {
        margin-left: 25px;
        margin-right: 25px;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 25px;
        background-color: #B8D8BA;


        color: #EF629F;
    }


}



@media only screen and (min-width: 1024px) {
    .points {
        color: #EF629F;
        margin-top: -10px;
        font-weight: bold;
        font-size: 25pt;
    }

    .coupons {
        margin-left: 25px;
        margin-right: 25px;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 25px;

        grid-template-rows: 50% 50%;
        color: #EF629F;
    }

}