body{
        background-image: url(/static/img/background.png);
        background-size:cover;
        height: 100vh;
        
    }
    button {
        background-color: white; /* Green */
        border: 1px solid #3AB795;
        color: #3AB795;
        padding: 10px 24px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }

    #logout{
        float: left;
    }
    
    #button_container{
        text-align: center;
    }
footer{
    margin-top: 80px;
    text-align: center;
}