   /* CSS for daily tasks page */    
    
    /* Some styles for buttons. */
    button {
      background-color: transparent;
      border: #A63013 solid 1.5px;
      color: #A63013;
      padding: 7px 26px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      font-weight: 300;
    }


    button:hover {
      background-color: white;
      border: #A63013 solid 1.5px;
      color: #A63013;
      padding: 7px 26px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;

    }

    /* The sticky class is added to the navbar with JS when it reaches its scroll position */
    .sticky {
      position: fixed;
      top: 0;
      width: 100%;
    }

    /* Styles for stats. */
    #stats {
      margin-top: 5px;
      margin-bottom: 5px;
      background-color: #FFE8C2;
      display: grid;
      grid-template-columns: 50% 50%;
      color: #A63013;

    }

    /* Styles for body. */
    body {
      text-align: center;
      margin: 0;
      background-color: #FFE548;
      color: #A63013;
    }

    /* Styles for images. */
    img {
      object-fit: contain;
      max-width: 90%;
      max-height: 95px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .first {
      color: #A63013;

    }

    .second {
      color: #A63013;

    }


    /* Media queries for different devices. */
    @media only screen and (max-width: 330px) {
      #container {
        margin-top: 7%;
        height: 96vh;

      }

      .top {
        font-size: 30pt;
        font-weight: bold;
      }

      .points {
        font-size: 20pt;
        margin-top: -10px;
        font-weight: bold;
      }

      #footer {
        bottom: 0;
        margin-top: 1350px;
        clear: both;
        position: relative;
      }
    }

    @media only screen and (max-width: 360px) {
      button {
        font-size: 20pt;
      }

      button:hover {
        font-size: 20pt;
      }

      p {
        font-size: 20pt;
      }

      #container {
        margin-top: 10%;
        height: 97vh;

      }

      #greeting {
        font-size: 15pt;
      }

      .top {
        font-size: 30pt;
        font-weight: bold;
      }

      .points {
        font-size: 20pt;
        margin-top: -10px;
        font-weight: bold;
      }

      #footer {
        bottom: 0;
        margin-top: 2000px;
        clear: both;
        position: relative;
      }
    }

    @media only screen and (min-width: 361px) {
      button {
        font-size: 20pt;
      }

      button:hover {
        font-size: 20pt;
      }

      p {
        font-size: 20pt;
      }

      #container {

        height: 97vh;

      }

      #greeting {
        font-size: 15pt;
      }

      .top {
        font-size: 30pt;
        font-weight: bold;
      }

      .points {
        font-size: 20pt;
        margin-top: -10px;
        font-weight: bold;
      }

      #footer {
        bottom: 0;
        margin-top: 2000px;
        clear: both;
        position: relative;
      }
    }

    @media only screen and (min-width: 600px) {

      button {
        font-size: 20pt;
      }

      button:hover {
        font-size: 20pt;
      }

      #container {

        height: 95vh;

      }

      #greeting {
        /*        color: #53131E;*/
        font-size: 25pt;
      }

      .top {

        /*        color: #53131E;*/
        font-size: 40pt;
        font-weight: bold;
      }

      .points {
        /*        color: #53131E;*/
        font-size: 30pt;
        margin-top: -10px;
        font-weight: bold;
      }

      #footer {
        bottom: 0;
        margin-top: 2000px;
        /*        color: #53131E;*/
        clear: both;
        position: relative;
        /*        font-size: 20pt;*/
      }

      p {
        font-size: 20pt;
      }
    }

    @media only screen and (min-width: 1024px) {
      button {
        font-size: 25pt;
      }

      button:hover {
        font-size: 25pt;
      }

      #container {

        height: 97vh;

      }

      #greeting {
        /*        color: #53131E;*/
        font-size: 30pt;
      }

      .top {

        /*        color: #53131E;*/
        font-size: 40pt;
        font-weight: bold;
      }

      .points {
        /*        color: #53131E;*/
        font-size: 30pt;
        margin-top: -10px;
        font-weight: bold;
      }

      #footer {
        bottom: 0;
        margin-top: 2000px;
        /*        color: #53131E;*/
        clear: both;
        position: relative;
      }

      p {
        font-size: 25pt;
      }
    }

    @media only screen and (min-width: 1200px) {
      button {
        font-size: 25pt;
      }

      button:hover {
        font-size: 25pt;
      }

      #container {

        height: 97vh;

      }

      #greeting {
        /*        color: #53131E;*/
        font-size: 30pt;
      }

      .top {

        /*        color: #53131E;*/
        font-size: 40pt;
        font-weight: bold;
      }

      .points {
        /*        color: #53131E;*/
        font-size: 30pt;
        margin-top: -10px;
        font-weight: bold;
      }

      #footer {
        bottom: 0;
        margin-top: 700px;
        /*        color: #53131E;*/
        clear: both;
        position: relative;
        font-size: 20pt;
      }

      p {
        font-size: 25pt;
      }
    }

    /* Styles for to do list */
    .to_do_title {

      color: brown;
      background-color: transparent;
      /*      opacity: 0.5;*/
      font-size: 22pt;
    }

    .to_do_title:hover {
      opacity: 1.0;
    }

    /* Styles for each section. */
    #dailytask {
      margin-top: 10px;
      margin-bottom: 10px;
      background-color: #EEFCCE;


      color: rgb(0, 2, 1);
    }

    #dailytask1 {
      padding: 15px;
      margin-top: auto;
      margin-bottom: auto;
      border-radius: 25px 0 0 25px;


    }

    #selection {
      margin-top: auto;
      margin-bottom: auto;
      border-radius: 0 25px 25px 0;

    }


    #knowledge {
      margin-left: 25px;
      margin-right: 25px;
      margin-top: 10px;
      margin-bottom: 10px;
      border-radius: 25px;

      background-color: #EEFCCE;

      color: #A63013;
    }

    #knowledge1 {
      padding: 30px;
      margin-top: auto;
      margin-bottom: auto;
      border-radius: 25px 0 0 25px;
    }

    #selection2 {
      margin-top: auto;
      margin-bottom: auto;
      border-radius: 0 25px 25px 0;
    }


    #story {
      margin-left: 25px;
      margin-right: 25px;
      margin-top: 10px;
      margin-bottom: 10px;
      border-radius: 25px;
      background-color: #EEFCCE;

      color: #A63013;
    }

    #story1 {
      padding: 15px;
      margin-top: auto;
      margin-bottom: auto;
      border-radius: 25px 0 0 25px;
    }

    #selection3 {
      margin-top: auto;
      margin-bottom: auto;
      border-radius: 0 25px 25px 0;
    }


    .title~* {
      display: none;
    }

    /* boostrap for progress bar*/
    @-webkit-keyframes progress-bar-stripes {
      from {
        background-position: 1rem 0;
      }

      to {
        background-position: 0 0;
      }
    }

    @keyframes progress-bar-stripes {
      from {
        background-position: 1rem 0;
      }

      to {
        background-position: 0 0;
      }
    }




    /* bootstrap progress bar */
    .progress {
      display: -ms-flexbox;
      display: flex;
      height: 1rem;
      overflow: hidden;
      line-height: 0;
      font-size: 0.75rem;
      background-color: #e9ecef;
      border-radius: 0.25rem;
    }

    .progress-bar {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-pack: center;
      justify-content: center;
      overflow: hidden;
      color: #fff;
      text-align: center;
      white-space: nowrap;
      background-color: #007bff;
      transition: width 0.6s ease;
    }

    @media (prefers-reduced-motion: reduce) {
      .progress-bar {
        transition: none;
      }
    }

    .progress-bar-striped {
      background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
      background-size: 1rem 1rem;
    }

    .progress-bar-animated {

      -webkit-animation: progress-bar-stripes 1s linear infinite;
      animation: progress-bar-stripes 1s linear infinite;
    }

    @media (prefers-reduced-motion: reduce) {
      .progress-bar-animated {
        -webkit-animation: none;
        animation: none;
      }
    }


    /* boostrap collapse */
    .collapse {
      display: none;
    }

    .collapse.in {
      display: block;
    }

    tr.collapse.in {
      display: table-row;
    }

    tbody.collapse.in {
      display: table-row-group;
    }