/*CSS style of the homepage*/
body {
    /*
    background-image: url(../img/background.png);
    background-size: cover;
*/
    text-align: center;
    margin: 0;
    background-color: #99F7AB;
    color: #53131E;
}

@media only screen and (max-width: 330px) {
    h2 {
        font-size: 20pt;
    }

    .top {
        font-size: 20pt;
    }

    #header {
        font-size: 20pt;
    }

    button {
        background-color: transparent;
        border: #53131E solid 1.5px;
        color: #53131E;
        padding: 7px 26px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        font-weight: bold;

    }

    button:hover {
        background-color: white;
        border: #53131E solid 1.5px;
        color: #53131E;
        padding: 7px 26px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;

    }

    #cong {
        font-size: 30pt;
        text-align: center;
    }

    #done {
        font-size: 20pt;
        text-align: center;
    }

    #container {

        height: 135vh;
    }


    #footer {
        bottom: 0;
        margin-top: 50px;
        color: #53131E;
        clear: both;
        position: relative;
    }
}

@media only screen and (min-width: 370px) {
    h2 {
        font-size: 20pt;
    }

    .top {
        font-size: 20pt;
    }

    #header {
        font-size: 20pt;
    }

    button {
        background-color: transparent;
        border: #53131E solid 1.5px;
        color: #53131E;
        padding: 7px 26px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        font-weight: bold;

    }

    button:hover {
        background-color: white;
        border: #53131E solid 1.5px;
        color: #53131E;
        padding: 7px 26px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;

    }

    #cong {
        font-size: 30pt;
        text-align: center;
    }

    #done {
        font-size: 20pt;
        text-align: center;
    }

    #container {

        height: 98vh;
    }

    #footer {
        bottom: 0;
        margin-top: 50px;
        color: #53131E;
        clear: both;
        position: relative;
        /*        font-size: 15pt;*/
    }
}

@media only screen and (min-width: 600px) {
    #games1 {
        font-size: 25pt;

    }

    #redeem1 {
        font-size: 25pt;

    }

    #remainder1 {
        font-size: 25pt;

    }

    h2 {
        font-size: 30pt;
    }

    .top {
        font-size: 30pt;
    }

    #header {
        font-size: 30pt;
    }

    #button_container {
        margin-top: 20px;
        text-align: center;
    }

    button {
        background-color: transparent;
        border: #53131E solid 1.5px;
        color: #53131E;
        padding: 7px 26px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 24px;
        font-weight: bold;

    }

    button:hover {
        background-color: white;
        border: #53131E solid 1.5px;
        color: #53131E;
        padding: 7px 26px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 24px;

    }

    #cong {
        font-size: 40pt;
        text-align: center;
    }

    #done {
        font-size: 30pt;
        text-align: center;
    }

    #container {

        height: 105vh;
    }


    #footer {
        bottom: 0;
        margin-top: 50px;
        color: #53131E;
        clear: both;
        position: relative;
        /*        font-size: 20pt;*/
    }
}

@media only screen and (min-width: 1024px) {
    h2 {
        font-size: 30pt;
    }

    .top {
        font-size: 30pt;
    }

    #header {
        font-size: 30pt;
    }

    button {
        background-color: transparent;
        border: #53131E solid 1.5px;
        color: #53131E;
        padding: 7px 26px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 26px;
        font-weight: bold;

    }

    button:hover {
        background-color: white;
        border: #53131E solid 1.5px;
        color: #53131E;
        padding: 7px 26px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 26px;

    }

    #cong {
        font-size: 40pt;
        text-align: center;
    }

    #done {
        font-size: 30pt;
        text-align: center;
    }

    #container {

        height: 94vh;
    }

    #footer {
        bottom: 0;
        margin-top: 50px;
        color: #53131E;
        clear: both;
        position: relative;
        /*        font-size: 20pt;*/
    }
}

@media only screen and (min-width: 1200px) {
    h2 {
        font-size: 30pt;
    }

    .top {
        font-size: 30pt;
    }

    #header {
        font-size: 30pt;
    }

    button {
        background-color: transparent;
        border: #53131E solid 1.5px;
        color: #53131E;
        padding: 7px 26px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 26px;
        font-weight: bold;

    }

    button:hover {
        background-color: white;
        border: #53131E solid 1.5px;
        color: #53131E;
        padding: 7px 26px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 26px;

    }

    #cong {
        font-size: 40pt;
        text-align: center;
    }

    #done {
        font-size: 30pt;
        text-align: center;
    }

    #container {

        height: 140vh;
    }

    #footer {
        bottom: 0;
        margin-top: 50px;
        color: #53131E;
        clear: both;
        position: relative;
        font-size: 20pt;
    }
}






img {
    object-fit: contain;
    max-width: 90%;
    max-height: 95px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#welcome {
    padding: 1px;
    margin: 0;
}



.second {
    color: #53131E;

}

.top {
    color: #53131E;
    /*    font-size: 20pt;*/
    font-weight: bold;
    margin-bottom: 10px;
}

.username {
    color: #53131E;
    margin-top: 5px;
    font-weight: bold;
}



#inner {
    grid-row: 2 / span 1;

}

#stats {
    /*    margin-left: 25px;*/
    /*    margin-right: 25px;*/
    margin-top: 10px;
    margin-bottom: 10px;
    /*    border-radius: 25px;*/
    grid-row: 2 / span 1;
    background-color: #7BDFF2;
    display: grid;
    grid-template-columns: 50% 50%;
    color: #53131E;

}

#games {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 25px;
    border: 2px solid rgba(83, 19, 30, 0.7);
    grid-row: 2 / span 1;
    background-color: #D6F9DD;
    display: grid;
    grid-template-columns: 50% 50%;


}

#games1 {
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 25px 0 0 25px;


    grid-column: 1 / span 1;

}

#games2 {
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 0 25px 25px 0;


    grid-column: 2 / span 1;

}

#remainder {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 25px;
    background-color: #D6F9DD;
    grid-row: 3 / span 1;
    display: grid;
    grid-template-columns: 50% 50%;
    border: 2px solid rgba(83, 19, 30, 0.7);
}

#remainder1 {
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 25px 0 0 25px;


    grid-column: 1 / span 1;

}

#remainder2 {
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 0 25px 25px 0;


    grid-column: 2 / span 1;

}

#redeem {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 25px;
    background-color: #D6F9DD;
    grid-row: 4 / span 1;
    display: grid;
    grid-template-columns: 50% 50%;
    border: 2px solid rgba(83, 19, 30, 0.7);
}

#redeem1 {
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 25px 0 0 25px;
    /*            background-color: #B8D8BA;*/

    grid-column: 1 / span 1;

}

#redeem2 {
    margin-top: auto;
    margin-bottom: auto;

    border-radius: 0 25px 25px 0;


    grid-column: 2 / span 1;

}

#header {
    grid-row: 1 / span 1;
}

#greeting {
    color: #EF629F;
}

.container {
    list-style-type: none;
    margin: 0;

    overflow: hidden;
    background-color: #75DBCD;
}

.list {
    float: left;
}

.list a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.list a:hover {
    background-color: rgb(65, 134, 125);
}

#footer {
    color: #53131E;

}




/*
#game_img {
     width: 100px;
    height: 100px; 
    background-size: 10px;
    background-color: none;
    animation-name: gaming;
    animation-delay: 3.5s;
    animation-duration: 1.5s;
  }
  
  @keyframes gaming {
    0%   {background-color: none;}
    10%   {background-color: red;}
    15%  {background-color: yellow;}
    25%  {background-color: rgb(255, 145, 0);}
    35%  {background-color: rgb(0, 255, 234);}
    55%  {background-color: beige;}
    100% {background-color: green;}
  }
*/

/*
#daily_task_img{
     width: 100px;
    height: 100px; 
    
    background-color: none;
    animation-name: shake;
    animation-delay: 0.8s;
    animation-duration: 1.6s;
  }

  @keyframes shake {
    10%, 90% {
    
      transform: translate3d(-1px, 0, 0) rotate(15deg);
    }
    
    20%, 80% {
     
      transform: translate3d(2px, 3px, 2px) rotate(-15deg);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0) rotate(15deg);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0) rotate(-20deg);
    }
  }

  #redeem_img{
    visibility: hidden;
    transform: translateX(-350px) translateY(-200px);
    animation-name: bounce;
    animation-timing-function: ease;
    animation-duration: 1.8s;
        animation-iteration-count: 1;
        animation-delay: 5.8s;
        animation-fill-mode: forwards;
  }
*/

/*
@keyframes bounce {
    5%   { transform: scale(1,1)  rotate(10deg)  translateX(-200px) translateY(-200px);visibility: visible; }
    30%  { transform: scale(1.1,.9) rotate(5deg) translateX(-50px)  translateY(-10px) ; }
    50%   { transform: scale(1,1)   rotate(2deg)  translateX(-50px) translateY(-40px); }
    60%  { transform: scale(1.1,.9)  rotate(-1deg) translateX(-20) translateY(-20); }
    70%  { transform: scale(.9,1.1) translateY(-50px); }
    90%  { transform: scale(1,1)    translateY(-10px); }
    100% { transform: scale(1,1)    translateY(0) ;visibility: visible }
}
*/
/* 

.progress{display: none;} */