body {
    margin: 0;
    background-color: #99F7AB;
}

@media only screen and (max-width: 330px) {
    #footer {
        text-align: center;
        bottom: 0;
        margin-top: 170px;
        color: #53131E;
        clear: both;
        position: relative;

    }
}
@media only screen and (max-width: 360px) {
    #footer {
        text-align: center;
        bottom: 0;
        margin-top: 250px;
        color: #53131E;
        clear: both;
        position: relative;

    }
}

@media only screen and (min-width: 361px) {
    #footer {
        text-align: center;
        bottom: 0;
        margin-top: 450px;
        color: #53131E;
        clear: both;
        position: relative;
        /*font-size: 15pt;*/
    }
}

@media only screen and (min-width: 600px) {
    #footer {
        text-align: center;
        bottom: 0;
        margin-top: 700px;
        color: #53131E;
        clear: both;
        position: relative;
        /*    font-size: 20pt;*/
    }
}

@media only screen and (min-width: 1024px) {
    #footer {
        text-align: center;
        bottom: 0;
        margin-top: 940px;
        color: #53131E;
        clear: both;
        position: relative;
        /*    font-size: 25pt;*/
    }

    h1 {
        font-size: 50pt;
    }
}

@media only screen and (min-width: 1200px) {
    #footer {
        text-align: center;
        bottom: 0;
        margin-top: 200px;
        color: #53131E;
        clear: both;
        position: relative;
        font-size: 20pt;
    }
}

div {
/*    height: 90vh;*/
    /*                background-image: url("/img/background.png");*/
    /*                background-size: cover;*/
    background-color: #99F7AB;
    /*                background-color:rgba(153,247,171,0.7);*/
}

#title {
    padding-top: 13%;
    text-align: center;
    color: #53131e;
    font-size: 20pt;
}




.square_btn_second {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #53131e;
    border: solid 2px #53131e;
    border-radius: 3px;
    transition: .4s;
}

.square_btn_second:hover {
    background: white;
    /*    color: #753e48;*/
}