body {
    margin: 0;
}

/*        for webpages*/

div {
    height: 100vh;
    /*                background-image: url("/img/background.png");*/
    /*                background-size: cover;*/
    background-color: #99F7AB;
    /*                background-color:rgba(153,247,171,0.7);*/
}

#title {
    padding-top: 15%;
    text-align: center;
    color: white;
    font-size: 20pt;
}

/*
            button {

                background-color: #d6f9dd;
                 Green 
                border: none;
                color: white;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
            }
*/
.square_btn {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #EF629F;
    border: solid 2px #EF629F;
    border-radius: 3px;
    transition: .4s;
}

.square_btn:hover {
    background: #EF629F;
    color: white;
}

.square_btn_second {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #53131e;
    border: solid 2px #53131e;
    border-radius: 3px;
    transition: .4s;
}

.square_btn_second:hover {
    background: #d6f9dd;
    color: #753e48;
}