/* CSS for my acquired coupon page. */

/* Some styles for body. */
body {
    text-align: center;
    margin: 0;
    background-color: #FFE548;
    color: #A63013;
}
/* Some styles for the points. */
.points {
    font-weight: bold;
    font-size: 40pt;
}

/* This is to make the nav bar sticky to the top. */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.description {
    font-size: 18pt;
}

/* Media queries for different devices. */
@media only screen and (max-width: 369px) {
    #wrapper {

        margin-top: 15%;
    }

    #greeting {
        color: #A63013;
        font-size: 30pt;
    }

    #container {


        height: 120vh;

    }

    #footer {
        bottom: 0;
        margin-top: 35px;
        color: #A63013;
        clear: both;
        position: relative;
    }
}

@media only screen and (min-width: 370px) {
    #wrapper {

        margin-top: 15%;
    }

    #greeting {
        color: #A63013;
        font-size: 30pt;
    }

    #container {


        height: 110vh;

    }

    #footer {
        bottom: 0;
        margin-top: 50px;
        color: #A63013;
        clear: both;
        position: relative;
        /*        font-size: 13pt;*/
    }
}

@media only screen and (min-width: 600px) {
    #wrapper {

        margin-top: 10%;
    }

    h1 {
        font-size: 30pt;
    }

    #inner {
        font-size: 30pt;
    }

    #proceed {
        font-size: 27pt;
        margin-top: 10px;
    }

    #stats {
        font-size: 30pt;
    }

    #welcome {
        font-size: 40pt;
    }

    #greeting {
        color: #A63013;

    }

    #container {


        height: 200vh;

    }

    #footer {
        bottom: 0;
        margin-top: 50px;
        color: #A63013;
        clear: both;
        position: relative;
        /*        font-size: 20pt;*/
    }
}

@media only screen and (min-width: 1024px) {
    #wrapper {

        margin-top: 10%;
    }

    h1 {
        font-size: 30pt;
    }

    #inner {
        font-size: 30pt;
    }

    #proceed {
        font-size: 27pt;
        margin-top: 10px;
    }

    #stats {
        font-size: 30pt;
    }

    #welcome {
        font-size: 40pt;
    }

    #greeting {
        color: #A63013;

    }

    #container {


        height: 200vh;

    }

    #footer {
        bottom: 0;
        margin-top: 50px;
        color: #A63013;
        clear: both;
        position: relative;
        /*        font-size: 20pt;*/
    }
}

@media only screen and (min-width: 1200px) {
    #wrapper {

        margin-top: 10%;
    }

    h1 {
        font-size: 30pt;
    }

    #inner {
        font-size: 28pt;
    }

    #proceed {
        font-size: 27pt;
        margin-top: 10px;
    }

    #stats {
        font-size: 30pt;
    }

    #welcome {
        font-size: 40pt;
    }

    #greeting {
        color: #A63013;

    }


    #footer {
        bottom: 0;
        margin-top: 170px;
        color: #A63013;
        clear: both;
        position: relative;
        font-size: 20pt;
    }
}

/* Some styles for coupons. */
.coupons {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 25px;
    background-color: #EEFCCE;


    color: #A63013;
    border: solid 2px rgba(83, 19, 30, 0.7);
}

/* Some styles for the stats section. */
#stats {
    margin-top: 10px;
    margin-bottom: 10px;
    grid-row: 2 / span 1;
    background-color: #FFE8C2;
    display: grid;
    grid-template-columns: 50% 50%;
    color: #A63013;

}