body {
  text-align: center;
  margin: 0;
  /*      background-image: url(../img/background.png);*/
  /*      background-size: cover;*/
  height: 120vh;
  background-color: #99F7AB;
  color: #53131E;
}

.square_btn_second {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #3AB795;
  border: solid 2px #3AB795;
  border-radius: 3px;
  transition: .4s;
}

.square_btn_second:hover {
  background: #EF629F;
  color: white;
}

#container>div:nth-child(even) {
  background-color: #FAC9B8;
}

.coupons {
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 25px;
  background-color: #D6F9DD;


  color: #53131E;
  border: solid 2px rgba(83, 19, 30, 0.7);
}

#stats {
  /*        margin-left: 25px;*/
  /*        margin-right: 25px;*/
  margin-top: 10px;
  margin-bottom: 10px;
  /*    border-radius: 25px;*/
  grid-row: 2 / span 1;
  background-color: #7BDFF2;
  display: grid;
  grid-template-columns: 50% 50%;
  color: #53131E;

}