.container {
    list-style-type: none;
    margin: 0;

    overflow: hidden;
<<<<<<< HEAD
    background-color: #3AB795;
=======
    background-color: #4B7F52;
>>>>>>> judao_tiffany_backend
}

.list {
    float: left;
    font-size: 15pt;
}

.list a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.list a:hover {
    background-color: rgb(65, 134, 125);
}

