/* CSS for reminder page. */

/* Some styles for body. */
body {
  background-color: #FFE548;
  color: #A63013;
  text-align: center;
  margin: 0;
}

/* Media queries for different devices. */
@media only screen and (max-width: 330px) {
  button {
    background-color: transparent;
    border: #A63013 solid 1.5px;
    color: #A63013;
    padding: 7px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    font-weight: bold;

  }

  button:hover {
    background-color: white;
    border: #A63013 solid 1.5px;
    color: #A63013;
    padding: 7px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;

  }

  legend {
    font-size: 18pt;
  }

  p {
    font-size: 27pt;
  }

  #container {
    height: 100vh;
  }



  #footer {
    bottom: 0;
    clear: both;
    position: relative;

  }
}

@media only screen and (min-width: 370px) {
  button {
    background-color: transparent;
    border: #A63013 solid 1.5px;
    color: #A63013;
    padding: 7px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    font-weight: bold;

  }

  button:hover {
    background-color: white;
    border: #A63013 solid 1.5px;
    color: #A63013;
    padding: 7px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;

  }

  legend {
    font-size: 20pt;
  }

  p {
    font-size: 27pt;
  }

  #container {
    height: 100vh;
  }

  #footer {
    bottom: 0;
    clear: both;
    position: relative;

  }
}

@media only screen and (min-width: 600px) {
  legend {
    font-size: 20pt;
  }

  p {
    font-size: 27pt;
  }

  #container {
    height: 100vh;
  }

  button {
    background-color: transparent;
    border: #A63013 solid 1.5px;
    color: #A63013;
    padding: 7px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 23px;
    font-weight: bold;

  }

  button:hover {
    background-color: white;
    border: #A63013 solid 1.5px;
    color: #A63013;
    padding: 7px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 23px;

  }


  #footer {
    bottom: 0;
    clear: both;
    position: relative;

  }
}

@media only screen and (min-width: 1024px) {
  legend {
    font-size: 27pt;
  }

  #container {
    height: 100vh;
  }

  button {
    background-color: transparent;
    border: #A63013 solid 1.5px;
    color: #A63013;
    padding: 7px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    font-weight: bold;

  }

  button:hover {
    background-color: white;
    border: #A63013 solid 1.5px;
    color: #A63013;
    padding: 7px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;

  }

  #footer {
    bottom: 0;
    clear: both;
    position: relative;
    /*        font-size: 20pt;*/
  }
}

@media only screen and (min-width: 1200px) {
  legend {
    font-size: 20pt;
  }

  #container {
    height: 95vh;
  }

  #footer {
    bottom: 0;
    clear: both;
    position: relative;
    font-size: 20pt;
  }
}