body {
  background-image: url(/static/img/background.png);
  background-size: cover;
  text-align: center;
  margin: 0;
}

body {
    text-align: center;
  
    background-color: #FAC9B8;
    color: #3AB795;
}
@media only screen and (max-width: 330px) {
  legend {
    font-size: 18pt;
  }
    p {
    font-size: 27pt;
  }
    #container{
        height: 100vh;
    }



  #footer {
    bottom: 0;
    
    color: #53131E;
    clear: both;
    position: relative;

  }
}

@media only screen and (min-width: 370px) {
 legend {
    font-size: 20pt;
  }
    p {
    font-size: 27pt;
  }
    #container{
        height: 100vh;
    }

  #footer {
    bottom: 0;
    
    color: #53131E;
    clear: both;
    position: relative;

  }
}

@media only screen and (min-width: 600px) {
  legend {
    font-size: 20pt;
  }
    p {
    font-size: 27pt;
  }
    #container{
        height: 100vh;
    }
  button {
    background-color: transparent;
    border: #53131E solid 1.5px;
    color: #53131E;
    padding: 7px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 23px;
    font-weight: bold;

  }

  button:hover {
    background-color: white;
    border: #53131E solid 1.5px;
    color: #53131E;
    padding: 7px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 23px;

  }


  #footer {
    bottom: 0;
    
    color: #53131E;
    clear: both;
    position: relative;
    /*        font-size: 20pt;*/
  }
}

@media only screen and (min-width: 1024px) {
  legend {
    font-size: 27pt;
  }
    #container{
        height: 100vh;
    }
    button {
    background-color: transparent;
    border: #53131E solid 1.5px;
    color: #53131E;
    padding: 7px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    font-weight: bold;

  }

  button:hover {
    background-color: white;
    border: #53131E solid 1.5px;
    color: #53131E;
    padding: 7px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;

  }
  #footer {
    bottom: 0;
    
    color: #53131E;
    clear: both;
    position: relative;
    /*        font-size: 20pt;*/
  }
}

@media only screen and (min-width: 1200px) {
  legend {
    font-size: 20pt;
  }
#container{
        height: 95vh;
    }
  #footer {
    bottom: 0;
   
    color: #53131E;
    clear: both;
    position: relative;
    font-size: 20pt;
  }
}