body {
  text-align: center;
  background-color: #FFE548;
  color: #A63013;
  /*
    background-image: url(../img/background.png);
    background-size: cover;
*/

}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.regular{
    margin-top:0;
    
}
@media only screen and (max-width: 369px) {
    #wrapper{
        margin-top: 15%;
    }
  #ui_choice {
    font-size: 15pt;
  }

  h2 {
    font-size: 20pt;
  }

  .top {
    font-size: 20pt;
  }

  #header {
    font-size: 20pt;
  }

  button {
    background-color: transparent;
    border: #A63013 solid 1.5px;
    color: #A63013;
    padding: 7px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
/*    font-weight: bold;*/

  }

  button:hover {
    background-color: white;
    border: #A63013 solid 1.5px;
    color: #A63013;
    padding: 7px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

  }




  #footer {
    bottom: 0;
    margin-top: 50px;
    color: #A63013;
    clear: both;
    position: relative;
  }
}

@media only screen and (min-width: 370px) {
    #wrapper{
        margin-top: 15%;
    }
  #ui_choice {
    font-size: 15pt;
  }

  h2 {
    font-size: 20pt;
  }

  .top {
    font-size: 20pt;
  }

  #header {
    font-size: 20pt;
  }

  button {
    background-color: transparent;
    border: #A63013 solid 1.5px;
    color: #A63013;
    padding: 7px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
/*    font-weight: bold;*/

  }

  button:hover {
    background-color: white;
    border: #A63013 solid 1.5px;
    color: #A63013;
    padding: 7px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

  }



  #footer {
    bottom: 0;
    margin-top: 100px;
    color: #A63013;
    clear: both;
    position: relative;
    /*        font-size: 15pt;*/
  }
}

@media only screen and (min-width: 600px) {
    #wrapper{
        margin-top: 10%;
    }
  #ui_choice {
    font-size: 25pt;
  }

  h1 {
    font-size: 40pt;
  }

  .top {
    font-size: 30pt;
  }

  #header {
    font-size: 30pt;
  }

  #button_container {
    margin-top: 20px;
    text-align: center;
  }

  button {
    background-color: transparent;
    border: #A63013 solid 1.5px;
    color: #A63013;
    padding: 7px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 31px;
/*    font-weight: bold;*/

  }

  button:hover {
    background-color: white;
    border: #A63013 solid 1.5px;
    color: #A63013;
    padding: 7px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 31px;

  }


  #container {
    font-size: 20pt;
  }

  #footer {
    bottom: 0;
    margin-top: 80px;
    color: #A63013;
    clear: both;
    position: relative;
    /*        font-size: 20pt;*/
  }
}

@media only screen and (min-width: 1024px) {
    #wrapper{
        margin-top: 10%;
    }
  #ui_choice {
    font-size: 25pt;
  }

  h2 {
    font-size: 30pt;
  }

  .top {
    font-size: 30pt;
  }

  #header {
    font-size: 30pt;
  }

  button {
    background-color: transparent;
    border: #A63013 solid 1.5px;
    color: #A63013;
    padding: 7px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
/*    font-weight: bold;*/

  }

  button:hover {
    background-color: white;
    border: #A63013 solid 1.5px;
    color: #A63013;
    padding: 7px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;

  }


  #footer {
    bottom: 0;
    margin-top: 400px;
    color: #A63013;
    clear: both;
    position: relative;
    /*        font-size: 20pt;*/
  }
}

@media only screen and (min-width: 1200px) {
    #wrapper{
        margin-top: 10%;
    }
  #ui_choice {
    font-size: 25pt;
  }

  h2 {
    font-size: 30pt;
  }

  .top {
    font-size: 30pt;
  }

  #header {
    font-size: 30pt;
  }

  button {
    background-color: transparent;
    border: #A63013 solid 1.5px;
    color: #A63013;
    padding: 7px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
/*    font-weight: bold;*/

  }

  button:hover {
    background-color: white;
    border: #A63013 solid 1.5px;
    color: #A63013;
    padding: 7px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;

  }


  #footer {
    bottom: 0;
    margin-top: 100px;
    color: #A63013;
    clear: both;
    position: relative;
    font-size: 20pt;
  }
}



#head {
  margin: -8px;

}

h1 {
  color: #A63013;
  /*  font-size: 20pt;*/
  font-weight: bold;

}

.square_btn {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #A63013;
  border: solid 2px #A63013;
  border-radius: 3px;
  transition: .4s;
}

.square_btn:hover {
  background: #A63013;
  color: white;
}



#container {
  background-color: #FFE8C2;
  /*    border-radius: 25px;*/
  /*    margin-left: 25px;*/
  /*    margin-right: 25px;*/
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #A63013;
}


/* mycoupons, myrecord */
.card {
  background-color: #EEFCCE;
  border-radius: 25px;
  margin-left: 25px;
  margin-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #A63013;
  border: solid 2px rgba(83, 19, 30, 0.7);
}



/*
button {
  background-color: transparent;
  border: #53131E solid 1.5px;
  color: #53131E;
  padding: 7px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 20px;
}

button:hover {
  background-color: white;
  border: #53131E solid 1.5px;
  color: #53131E;
  padding: 7px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 20px;
}
*/



#avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-image: url(avatar.png);
}

#upload {
  display: none;
}

#submit {
  display: none;
}

/*
  #logout {
    color: #EF629F;
    border: #EF629F solid 1px;
  }*/