body{
            background-image: url(./background.png);
            background-size: cover;
            height: 100vh;
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            color: rgb(26, 129, 102);
}
button {
            background-color: white; /* Green */
            border: 1px solid #3AB795;
            color: rgb(26, 129, 102);
            padding: 10px 24px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            border-radius: 2px;
}
.cont{
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    height: 50%;
    border: 2px solid gray;
    background-color: #FAC9B8;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    position: absolute;
    padding:20px;
}
.footer{
    color: black;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}