
       
       body {
            text-align: center;
            margin: 0;
            background-image: url(./background.png);
            background-size: cover;
            height: 140vh;
            font-family: Arial, Helvetica, sans-serif;
            color: rgb(26, 129, 102);
        }
        img {
            object-fit: contain;
            max-width: 90%;
            max-height: 95px;
            display: block;
            margin-left: auto;
            margin-right: auto;
         }
        .first{
            color: #EF629F;
            
        }
        .second{
            color: #3AB795;
            
        }
        .top{
            color: #3AB795;
            font-size: 30pt;
            font-weight: bold;
        }
        .points{
            color: #EF629F;
            margin-top: -10px;
            font-weight: bold;
            font-size: 13pt;
        }
        #container {
/*            display: grid;*/
            grid-template-rows: 20% 65% 1%;
            height: 100vh;
            
        }
        #header {
            grid-row: 1 / span 1;        
        }
        #inner {
            grid-row: 2 / span 1;
            display: grid;
            grid-template-rows: 33.3% 33.3% 33.3%;
        }
        #first{
            margin-left: auto;
            margin-right: auto;
            margin-top: 10px;
            margin-bottom: 10px;
            border-radius: 25px;
            background-color: #FAC9B8;
            grid-row: 1 / span 1;
            display: grid;
            grid-template-columns: 50% 50%;
            color: rgb(26, 129, 102);
            border: 2px solid gray;
            
            width:75%;
        }
        #first1{
            padding: 15px;
            margin-top: auto;
            margin-bottom: auto;
            border-radius: 25px 0 0 25px;
           
           
            grid-column: 1 / span 1;
            
        }   
        #selection{
            margin-top: auto;
            margin-bottom: auto;
            border-radius: 0 25px 25px 0;
            
            
            grid-column: 2 / span 1;
            
        }
        
        
        #second{
            margin-left: auto;
            margin-right: auto;
            margin-top: 10px;
            margin-bottom: 10px;
            border-radius: 25px;
            background-color: #FAC9B8;
            grid-row: 2 / span 1;
            display: grid;
            grid-template-columns: 50% 50%;
            color: rgb(26, 129, 102);
    border: 2px solid gray;
 
    width: 75%;
        }
        #second1{
            padding: 15px;
            margin-top: auto;
           margin-bottom: auto;
            border-radius: 25px 0 0 25px;
           
           
            grid-column: 1 / span 1;
            
        }   
        #selection2{
            margin-top: auto;
           margin-bottom: auto;
            border-radius: 0 25px 25px 0;
          
            
            grid-column: 2 / span 1;
            
        }
        #third{
            margin-left: auto;
            margin-right: auto;
            margin-top: 10px;
            margin-bottom: 10px;
            border-radius: 25px;
            background-color: #FAC9B8;
            grid-row: 3 / span 1;
            display: grid;
            grid-template-columns: 50% 50%;
            color: rgb(26, 129, 102);
            border: 2px solid gray;
           
            width: 75%;
        }
        #third1{
            padding: 15px;
            margin-top: auto;
           margin-bottom: auto;
            border-radius: 25px 0 0 25px;
           
           
            grid-column: 1 / span 1;
            
        }   
        #selection3{
            margin-top: auto;
            margin-bottom: auto;
            border-radius: 0 25px 25px 0;
            grid-column: 2 / span 1;
            
        }
             
        

        #header{
            grid-row: 1 / span 1;
        }
        #greeting {
            color: #EF629F;
            
        }
        #footer{
           
    color: black;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
        }
         
.container {
    list-style-type: none;
    margin: 0;

    overflow: hidden;
    background-color: #3AB795;
}

.list {
    float: left;
    font-size: 15pt;
}

.list a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.list a:hover {
    background-color: rgb(65, 134, 125);
}
#stats {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
/*    border-radius: 25px;*/
    grid-row: 2 / span 1;
    background-color: #FAC9B8;
    display: grid;
    grid-template-columns: 50% 50%;
    color: #3AB795;
    color: rgb(26, 129, 102);
    border: 2px solid gray;
    border-radius: 2px;
    width: 80%;
}