<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--    <link rel="stylesheet" type="text/css" href="/static/css/navbar.css">-->
    <title>Coupon Page</title>
    <link rel="stylesheet" type="text/css" href="./static/coupon.css">
    <style>
    body{
        background-image: url(./static/background.png);
        background-size: cover;    
            
        }
    input {
        background-color: white; /* Green */
        border: 1px solid #3AB795;
        color: #3AB795;
        padding: 10px 24px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
    </style>
</head>

<body>
   <div style="float: right">Step 3 of 3</div>
    <br>
    
    <h1>Choose coupons to redeem</h1>
<div id="stats">
    <h2>Congratulations! Now you can choose your coupons by clicking on them!</h2>
    <br>
            <h2>All points you earned: </h2>
                <h2 id='pointsofar'></h2>
                <h2>You earned today: </h2>
                <h2 id='pointofday'></h2>
                <h2>
                </h2>
            </div>
    <div id="search_function"><input id="search_box" type="text" placeholder="Coupon title or description">
            <button id="search">search</button></div>
    <div id='container'>


<!--
        <% for (var i = 0; i < coupons.length;  i++ ) { %>
        <div class="coupons" id="coupons_<%= i+1 %>">
            <div class="coupon" id="coupon_<%= i+1 %>">

                <h1 class="title"><%= coupons[i].title %></h1>
                <p class="description" id="description_<%= i+1 %>"><%= coupons[i].description %></p>
                <span class="points"><%= coupons[i].points %></span>
            </div>

            <div class='confirm' id="confirm_<%= i+1 %>">
                <span></span>
                <a class="square_btn_second yes" id="nth_<%= i+1 %>" name="<%=coupons[i].id%>">Yes</a>
                <a class="square_btn_second no">No</a>
            </div>
        </div>
-->
    </div>
<!--    <% } %>-->


    </div>

<form action="D:\BCIT Term2 Work\Workflow of the day\deploy - Copy\public\Flow_mini_games.html">
    
    <input type="submit" value="Back" style="float: left">
    </form>
    <form action="D:\BCIT Term2 Work\Workflow of the day\deploy - Copy\public\Flow_final.html">
    
    <input type="submit" value="Proceed" style="float: right">
    </form>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>
        

        $(document).ready(function () {

            
        $("#search").on("click",() => {
            var serach_box = $("#search_box").val();
            console.log("serach_box")
            console.log(serach_box)
            console.log($("#search_box").val())
            $.ajax({
                type: "post",
                url: "/coupon/search",
                data: {serach_box},
                dataType: "html",
                success: function (response) {
                    console.log("response")
                    console.log(response)
                    $("html").html(response)
                },
                error:(e)=>{
                    console.log(e)
                }
            });
        })






           
            $.ajax({
                type: "get",
                url: "/user_profile/getProfile",

                dataType: "json",
                success: function (response) {
                    console.log(response)
                    console.log(response.result[0].points)
                    $("#current_points").html(response.result[0].points)
                },
                error: (response) => {
                    console.log(response)

//                    alert(response.points)
                }
            });
        });
        let itemArr = $(".coupons");
        console.log(itemArr[0]);
        // for(var nodeIndex in )
        $(".confirm").hide();


        let coupon_info = null;
        let confirm_choice = null;
        let node_id = 0;
        $(".coupon").click(function (e) {

            // const coupon_display = 

            const confirmation_selection = " <h1>Confirm?</h1></div><div id='selection'><a class='square_btn_second'>Yes</a><a class='square_btn_second'>No</a>"
            if (e.target && (e.target.nodeName == "H1" || e.target.nodeName == "P" || e.target.nodeName == "SPAN")) {
                coupon_info = $("#" + e.target.parentNode.id)
                node_id = e.target.parentNode.id.substr(7)

                // alert(node_id)
            } else {
                coupon_info = $("#" + e.target.id)
                node_id = e.target.id.substr(7)
                // alert(node_id)
            }
            confirm_choice = $("#confirm_" + node_id)
            confirm_choice.toggle()
            $("#description_" + node_id).toggle();
            // node_to_change.html(confirmation_selection)

        });

        $(".no").click((e) => {
            console.log(confirm_choice)
            confirm_choice.toggle()
            $("#description_" + node_id).toggle();
        })

        $(".yes").click((e) => {
            redeem_id = $(e.target).attr("name");

            $.ajax({
                type: "post",
                url: "/coupon/redeem",
                data: { "id": redeem_id },
                dataType: "text",
                success: function (response) {
                    alert(response)
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }
            })

        });


   


    </script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
            <script>
                $(document).ready(function () {
                    function say_hi() {
                        $.get("/user_profile/getProfile", function (data, status) {
                            $("#username").html(data.result[0].username);
                            console.log("data.username===============")
                            console.log(data)
                        });
                    } say_hi()

                });

            </script>
            <script>
                $(document).ready(function () {
                    function show_points() {
                        $.get("/user_profile/getProfile", function (data, status) {
                            $("#pointsofar").html(data.result[0].points);
                            $("#pointofday").html(data.result[0].daily_task[0].points_earned_today);
                            console.log("data.total===============");
                            console.log(data);
                        });
                    } show_points()

                });

            </script>
</body>

</html>