<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./static/flow_final.css">
    <link rel="icon" type="image/png" href="./static/favicon-32x32.png">
    <title>Congratulations!</title>

</head>
<body>
    <div class="cont">
        <p style="font-size: 30pt; text-align: center;">Congratulations!</p>
        <p class="text"> You have completed the tasks for today</p>
        <p class="text"> We hope that you enjoyed so </p>
        <h1 class="text"> Come again tomorrow!</h1>
    </div>
    <div>
<button id="logout">Logout
    
<!--    logout function-->
    </button>
    <button id="homepage">Homepage
    
<!--    go to homepage function-->
    </button>
    </div>
    <footer style="color:black;">Made by FutureCurves.</footer>
</body>
</html>