body {
    text-align: center;
    margin: 0;
    background-image: url(../img/background.png);
    background-size: cover;
    
    color: rgb(26, 129, 102);
}

.square_btn_second {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #3AB795;
    border: solid 2px #3AB795;
    border-radius: 3px;
    transition: .4s;
}

.square_btn_second:hover {
    background: #EF629F;
    color: white;
}

#container>div:nth-child(even) {
    background-color: #FAC9B8;
}
#stats {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
/*    border-radius: 25px;*/
    grid-row: 2 / span 1;
    background-color: #FAC9B8;
    display: grid;
    grid-template-columns: 50% 50%;
    color: rgb(26, 129, 102);
    width: 90%;
    border: 2px solid gray;
    border-radius: 2px;
}
.step{
    float: right;
    color: black;
    margin: 5px;
    border: 2px solid gray;
    background-color: white;
    border-radius: 2px;
  }
  #search{
    background-color: white; 
    border: 1px solid #3AB795;
    color: black;;
    padding: 6px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 2px;
  }
@media only screen and (max-width:400px) {
    body{
        height: 140vh;
    }
    .top {
        color: #3AB795;
        font-size: 13pt;
        font-weight: bold;
    }


    .points {
        color: #3AB795;
        margin-top: -10px;
        font-weight: bold;
        font-size: 13pt;
    }

    .description {
        margin-left: 25px;
        margin-right: 25px;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 25px;

        grid-row: 1 / span 1;
        display: grid;
        grid-template-rows: 50% 50%;
        color: #3AB795;
    }

    .title {
        padding: 15px;
        margin-top: auto;
        margin-bottom: auto;
        border-radius: 25px 0 0 25px;


    }

    .coupons {
        margin-left: 25px;
        margin-right: 25px;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 25px;
        background-color: #FAC9B8;

        display: block;
        grid-template-rows: 50% 50%;
        color: #3AB795;
    }
}



@media only screen and (min-width: 401px) {

    .top {
        color: #3AB795;
        font-size: 23pt;
        font-weight: bold;
    }

    .points {
        color: #3AB795;
        margin-top: -10px;
        font-weight: bold;
        font-size: 23pt;
    }

    .coupons {
        margin-left: 25px;
        margin-right: 25px;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 25px;
        background-color: #FAC9B8;


        color: #3AB795;
    }


}



@media only screen and (min-width: 1024px) {
    body{
        height: 160vh;
    }
    .points {
        color: #3AB795;
        margin-top: -10px;
        font-weight: bold;
        font-size: 25pt;
    }

    .coupons {
        margin-left: 25px;
        margin-right: 25px;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 25px;
        background-color: #FAC9B8;
        grid-template-rows: 50% 50%;
        color: #3AB795;
    }

}